@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */
.q4_box {
  padding:  20px;
  box-sizing: border-box;
  background-color: #ecf1f2;
}

.contents {
  display: table;
  margin-top: 20px;
  width: 100%;
  background-color: #ECF1E2;
}

.contents:first-child {
  margin-top: 0;
}

.contents_cell { 
  display: table-cell;
  padding: 20px;
  text-align: center;
}

.is_orange {
  width: 100px; 
  background-color: #FDC8B8;
}

.is_pink {
 background-color: #E0ABD9;
}

.is_blue {
  width: 100px;
  background-color: #b6d8ed;
}

.is_yellow {
  background-color: #e5d32e;
} 

.is_red { 
  background-color: #ec8f9a; 
}

.is_green {
  width: 500px;
  background-color: #8fdcad;
}

