@charset "UTF-8";

/* 回答はここに書いてね */
.balloon {
  position: relative;
  margin:  0 auto;
  padding: 20px;
  width: 500px;
  border: solid 5px #222;
  border-radius: 30px;
}

.balloon:before {
  content: "";
  position: absolute;
  bottom: -45px;
  left: 30px;
  border: 20px solid transparent;
  border-top: 20px solid #222;
}

.balloon:after {
  content: "";
  position: absolute;
  bottom: -37px;
  left: 30px;
  border: 20px solid transparent;
  border-top:  20px solid #fff;
}



/* 回答はここに書いてね */
